*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-container{
    margin: 4rem auto;
    text-align: center;
    background-color: #fff4da;
    width: fit-content;
    padding: 1.5rem;
    border: 1px solid darkblue;
    color : #1e1e1e
}
.title-container h1{
    font-size: 1.3rem;
}

.color-generation-container{
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    row-gap: 3rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.color-box-container{
    display: flex;  
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: start;
    justify-content:center;
    column-gap:2rem;
}

.first-color-box,
.second-color-box,
.third-color-box{
    padding:2rem 4rem;
    background-color: #d9d9d9;
    border-radius: 0.5rem;
}
button{
    padding: 0.7rem 1.5rem;
    background-color: #546348;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}